@import '../../App.scss';

@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.SignUp {
    background: url('../../assets/signup.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    @include flex();

    .SignUp-container {
        padding: 2rem;
        background-color: $secondary-color;
        max-width: 50rem;
        width: 100%;
        min-height: 42.5rem;
        color: black;
        border-radius: 10px;
        display: flex;
        align-items: center;
        flex-direction: column;
        color: $text-color;

        .term_conditions {
            margin: 2rem 0 1rem 0;
        }

        .first-box {
            margin-top: 7rem;
            max-width: 25rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1.5rem;

            h3 {
                font-size: $text;
                color: black;
            }

            div {
                @include flex();
                gap: .5rem;
                padding: 1rem;
                border: 1px solid $text-color;
                border-radius: 15px;
            }

            .logo {
                border: none;
                justify-content: start;
                padding: 0;
            }

            input {
                width: 100%;
                border: none;
                outline: none;
                background: transparent;
                font-size: 1rem;
            }

            .SignUp-heading {
                display: block;
                border: none;
                padding: 0;
            }

            .eye {
                cursor: pointer;
            }

        }

        .second-box {
            max-width: 25rem;
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 1rem;
            margin-top: 1rem;
            border-radius: 10px;

            .underLine {
                display: none;
                justify-content: center;
                align-items: center;
                gap: 1rem;

                div {
                    width: 100%;
                    height: 1px;
                    background-color: $text-color;

                }
            }

            .logo {
                display: none;
                justify-content: center;
                gap: 1rem;
            }

            button {
                background-color: $main-color;
                border: 1px solid $text-color;
                padding: 1rem;
                @include flex();
                border-radius: 9999px;
                color: white;
                font-size: $text;
                gap: .5rem;
                cursor: pointer;
                transition: all .5s ease-in;

                &:hover {
                    background: $accent-color;
                    color: $secondary-color;
                }
            }

            p {
                text-align: center;
            }

            a {
                color: $text-color;
            }
        }
    }

}

@media (max-width:800px) {
    .SignUp {
        background: $secondary-color;
    }

    .SignUp .SignUp-container {

        .first-box .logo {
            display: none;
        }

        .second-box {

            .underLine,
            .logo {
                display: flex;
            }
        }
    }

}