@import '../../App.scss';

main{
    // position: absolute;
    top: 0;
    width: $width;
    height: $height;
    background: url(../../assets/bg.svg) center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $secondary-color;

    h1{
        font-family: $font-two;
        font-size: $extra-large-text;
        font-weight: 200;

        span{
            color: $accent-color;
        }
    }

    p{
        margin-left: calc(($width) * 0.35);
        font-size: $text;
        font-weight: 500;
    }
}