@import '../../../App.scss';

.OpenCamera {
    width: $width;
    height: $height;
    background-color: $primary-color;
    color: $secondary-color;
    display: grid;
    place-items: center;
    text-align: center;

    .back-btn {
        position: absolute;
        left: 3rem;
        top: 3rem;
    }

    img {
        cursor: pointer;
    }

    .OpenCamera-container {
        position: relative;
    }

    .display-camera {
        background-color: $gray;
        position: relative;
        height: $height * 0.6;
        width: $width;
        aspect-ratio: 3/4;
        display: grid;
        place-items: center;
        border-radius: $border-radius;
        overflow: hidden;

        .frame {
            z-index: 1;
        }

        video {
            position: absolute;
            height: 100%;
            transform: scaleX(-1);
        }
    }

    .display-camera p {
        background-color: $secondary-color;
        color: $primary-color;
        border-radius: 9999px;
        padding: .5rem;
        z-index: 1;
    }

    .capture-btn {
        position: relative;
        top: -2rem;
        transition: all 0.2s ease-in-out;

        &:active {
            transform: scale(.9);
        }
    }

    .Effect {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        button {
            outline: none;
            border: none;
            background-color: $red;
            color: $secondary-color;
            padding: 1rem;
            font-size: $text;
            border-radius: $border-radius;
            cursor: pointer;
        }
    }

    canvas {
        height: $width * 0.6;
        width: $width;
        aspect-ratio: 3/4;
    }

    .modal{
        position: fixed;
        top: 0;
        left: 0;
        height: $height;
        width: $width;
        background: rgba($primary-color, 0.5);
        display: grid;
        place-items: center;
        z-index: 11;

        .box{
            position: relative;
            z-index: 100;
            height: calc($height * 0.3);
            width: calc($width * 0.2);
            background: $secondary-color;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: $main-color;
            border-radius: $small-radius;

            img{
                width: calc($width * 0.3);
            }

            .result{
                text-decoration: none;
                padding: 0.3rem 1.2rem;
                margin: 3em 0 0 0;
                color: $secondary-color;
                background: $green;
                border-radius: $small-radius;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .OpenCamera{
        .modal{

            .box{
                height: calc($height * 0.3);
                width: calc($width * 0.7);
            }
        }
    }
}