@import url('https://fonts.cdnfonts.com/css/inter');
@import url('https://fonts.cdnfonts.com/css/recoleta');


*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

//colors
$primary-color: #0e0e0e;
$secondary-color: #fefefe;
$main-color: #A85C3A;
$sub-color: #E0B386;
$accent-color: #5E3423;

$font:  'Inter', sans-serif;
$font-two: 'Recoleta', sans-serif;
$border-radius: 2rem;
$width: 100%;
$height: 100vh;
$extra-large-text: 4.2rem;
$large-text: 2.4rem;
$text: 1.2rem;



.App{
  font-family: $font;
}